@import '../../../vars';
@import '../../../extends.scss'; // התאמה לנתיב הפרויקט שלך

.page {
  @extend %pageContainerBase;
  z-index: 2;
  .title{
    color: white;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
  }

// .board{
//     width: 100%;
//     aspect-ratio: 1/1;
// }

  .yellowElement{
    width: 100%;
    position: relative;
    .avatarContaier{
      position: absolute;
      bottom: -50%;
      display: flex;
      flex-direction: row;
      gap: 10px;
    }
  }
}

