@import '../../../vars';
@import '../../../extends.scss'; // התאמה לנתיב הפרויקט שלך

.page {
  @extend %pageContainerBase;
  .title{
    color: white;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
  }

// .board{
//     width: 100%;
//     aspect-ratio: 1/1;
// }

  .yellowElement{
    width: 100%;
  }
}

