.container {
  display: flex;
  justify-content: center;
  margin: 5px;

  .blueSquare {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    width: 60px; /* יתפרס לפי גודל ההורה */
    aspect-ratio: 1; /* יחס של 1:1 כדי לשמור על ריבוע */
    border: 2px solid black;
    border-radius: 5px;
    background-color: #c9f9fc;
    box-shadow: -2px 2px 0px 1px rgba(0, 0, 0, 1);
  }

  .blueSquare:hover {
    cursor: pointer;
  }

  .value {
    width: 90%;
    height: 90%;
    div {
      img {
        width: 90%;
      }
    }
  }
}
