@import '../../../vars';
@import '../../../extends.scss'; // התאמה לנתיב הפרויקט שלך

.page {
  @extend %pageContainerBase;
  .title{
    color: white;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
  }
  .codeTitle{
    color: white;
    font-weight: 600;
    font-size: 20px;
    position: absolute;
    top: -10px;
    display: flex;

  }
  .back{
    height: 50px;
    display: flex;
  }

  .board{
    height: 100px;
    width: 100%;
    font-size: 30px;
    color: gray;
    position: relative;
    
  }
}

