@import '../../../vars';
@import '../../../extends.scss'; // התאמה לנתיב הפרויקט שלך

.page {
  @extend %pageContainerBase;
  .title{
    color: white;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
  }
  .subtitle {
    @extend %subtitle;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%); /* מחזיר את האלמנט למרכז */
    white-space: nowrap; /* מונע חלוקת שורות */

  }
  .back{
    height: 50px;
    display: flex;
  }

  .board{
    height: 100px;
    width: 100%;
    font-size: 30px;
    color: gray;
    position: relative;
    
  }
}

