@import '../../../vars';



.page {
  background-color: $primary-color;
  height: $page-height;
  width: $page-width;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    img {
      width: 70%;
      padding: 20px;
      filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.9));
    }
  }
}
